# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-indexer
networks:
- id: 122
  rpc: https://rpc.fuse.io
  start_block: 15644529
  contracts:
  - name: UniswapV2Factory
    address:
    - 0x1998E4b0F1F922367d8Ec20600ea2b86df55f34E # VoltageFactory
    - 0xA85fc1179Fe3eC673ce437F803E4e8d65cF9Cea6 # DegenHaus
    - 0x9E6d21E759A7A288b80eef94E4737D313D31c13f # IceCreamSwap
    - 0x779407e40dad9d70ba5adc30e45cc3494ec71ad2 # Elf
    - 0x43eA90e2b786728520e4f930d2A71a477BF2737C # UniswapV2
    - 0x1d1f1A7280D67246665Bb196F38553b469294f3a # UniswapV2
    handler: src/EventHandlers.ts
    events:
    - event: PairCreated(address indexed token0, address indexed token1, address pair, uint256 )
  - name: AlgebraIntegral
    address:
    - 0xccEdb990abBf0606Cf47e7C6A26e419931c7dc1F
    handler: src/EventHandlers.ts
    events:
    - event: CustomPool(address indexed deployer, address indexed token0, address indexed token1, address pool)
    - event: DefaultCommunityFee(uint16 newDefaultCommunityFee)
    - event: DefaultFee(uint16 newDefaultFee)
    - event: DefaultPluginFactory(address defaultPluginFactoryAddress)
    - event: DefaultTickspacing(int24 newDefaultTickspacing)
    - event: OwnershipTransferStarted(address indexed previousOwner, address indexed newOwner)
    - event: OwnershipTransferred(address indexed previousOwner, address indexed newOwner)
    - event: Pool(address indexed token0, address indexed token1, address pool)
    - event: RenounceOwnershipFinish(uint256 timestamp)
    - event: RenounceOwnershipStart(uint256 timestamp, uint256 finishTimestamp)
    - event: RenounceOwnershipStop(uint256 timestamp)
    - event: RoleAdminChanged(bytes32 indexed role, bytes32 indexed previousAdminRole, bytes32 indexed newAdminRole)
    - event: RoleGranted(bytes32 indexed role, address indexed account, address indexed sender)
    - event: RoleRevoked(bytes32 indexed role, address indexed account, address indexed sender)
    - event: VaultFactory(address newVaultFactory)
  - name: VoltageV3Factory
    address:
    - 0xaD079548b3501C5F218c638A02aB18187F62b207
    handler: src/EventHandlers.ts
    events:
    - event: FeeAmountEnabled(uint24 indexed fee, int24 indexed tickSpacing)
    - event: FeeAmountExtraInfoUpdated(uint24 indexed fee, bool whitelistRequested, bool enabled)
    - event: OwnerChanged(address indexed oldOwner, address indexed newOwner)
    - event: PoolCreated(address indexed token0, address indexed token1, uint24 indexed fee, int24 tickSpacing, address pool)
    - event: SetLmPoolDeployer(address indexed lmPoolDeployer)
    - event: WhiteListAdded(address indexed user, bool verified)
unordered_multichain_mode: true
preload_handlers: true
