# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-indexer
networks:
- id: 122
  rpc: https://rpc.fuse.io
  start_block: 0
  contracts:
  - name: UniswapV2Factory
    handler: src/EventHandlers.ts
    events:
    - event: PairCreated(address indexed token0, address indexed token1, address pair, uint256 )
  - name: UniswapV3Factory
    abi_file_path: "abi/uniswap-v3-factory.json"
    handler: src/EventHandlers.ts
    events:
    - event: PoolCreated
  - name: PoolManager # UniswapV4
    abi_file_path: "abi/uni-v4-pool-manager.json"
    handler: src/EventHandlers.ts
    events:
    - event: Initialize
  - name: CLPoolManager # PancakeSwapInfinity
    abi_file_path: "abi/pcs-infinity-cl-pool-manager.json"
    handler: src/EventHandlers.ts
    events:
    - event: Initialize
  - name: AlgebraIntegral
    abi_file_path: "abi/algebra-integral-factory.json"
    handler: src/EventHandlers.ts
    events:
    - event: CustomPool
    - event: Pool
  
unordered_multichain_mode: true
preload_handlers: true
