# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-indexer
unordered_multichain_mode: true
preload_handlers: true

# Global contract definitions - define once, use everywhere
contracts:
  - name: UniswapV2Factory
    handler: src/UniswapLikeProtocolHandlers.ts
    events:
      - event: PairCreated(address indexed token0, address indexed token1, address pair, uint256 pairNumber)

  - name: UniswapV2Pair
    abi_file_path: "abi/uniswap-v2-pool.json"
    handler: src/UniswapV2PoolHandlers.ts
    events:
      - event: Swap
      - event: Mint
      - event: Burn
      - event: Sync
  
  - name: UniswapV3Factory
    abi_file_path: "abi/uniswap-v3-factory.json"
    handler: src/UniswapLikeProtocolHandlers.ts
    events:
      - event: PoolCreated
  
  - name: PoolManager # UniswapV4
    abi_file_path: "abi/uni-v4-pool-manager.json"
    handler: src/UniV4LikeProtocolHandlers.ts
    events:
      - event: Initialize
  
  - name: CLPoolManager # PancakeSwapInfinity
    abi_file_path: "abi/pcs-infinity-cl-pool-manager.json"
    handler: src/UniV4LikeProtocolHandlers.ts
    events:
      - event: Initialize
  
  - name: AlgebraIntegral
    abi_file_path: "abi/algebra-integral-factory.json"
    handler: src/UniswapLikeProtocolHandlers.ts
    events:
      - event: CustomPool
      - event: Pool

  - name: BalancerV2Vault
    abi_file_path: "abi/balancer-v2-vault.json"
    handler: src/BalancerEventHandlers.ts
    events:
      - event: PoolRegistered

  - name: BalancerV3Vault
    abi_file_path: "abi/balancer-v3-vault.json"
    handler: src/BalancerEventHandlers.ts
    events:
      - event: PoolRegistered
    
  - name: VelodromeSlipstreamCLFactory
    handler: src/UniswapLikeProtocolHandlers.ts
    events:
      - event: PoolCreated(address indexed token0, address indexed token1, int24 indexed tickSpacing, address pool)

  - name: VelodromeCPMMFactory
    handler: src/UniswapLikeProtocolHandlers.ts
    events:
      - event: PoolCreated(address indexed token0, address indexed token1, bool indexed stable, address pool, uint256)

# Network-specific configurations
networks:
  - id: 122 # Fuse
    rpc: https://rpc.fuse.io
    start_block: 7290000 # No pools found before this block
    contracts: &all-contracts
      - name: UniswapV2Factory
      - name: UniswapV2Pair
      - name: UniswapV3Factory
      - name: PoolManager
      - name: CLPoolManager
      - name: AlgebraIntegral
      - name: BalancerV2Vault
      - name: BalancerV3Vault
      - name: VelodromeSlipstreamCLFactory
      - name: VelodromeCPMMFactory

  # - id: 1 # Ethereum Mainnet
  #   start_block: 0
  #   contracts:
  #     - name: UniswapV2Factory
  #     - name: UniswapV3Factory
  #     - name: PoolManager
  #     - name: CLPoolManager
  #     - name: AlgebraIntegral
  #     - name: BalancerV2Vault
  #       address:
  #         - "0xba12222222228d8ba445958a75a0704d566bf2c8"
  #     - name: BalancerV3Vault
  
  # - id: 10 # Optimism
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 1514 # Story
  #   rpc: https://mainnet.storyrpc.io
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 43111 # Hemi
  #   rpc: https://rpc.hemi.network/rpc
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 151
  #   rpc: https://governors.mainnet.redbelly.network
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 61564
  #   rpc: https://rpc.pine.ink
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 3282
  #   rpc: https://mainnet-beta-rpc.irys.xyz/v1/execution-rpc
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 12216
  #   rpc: https://rpc.l2protocol.com
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 4114
  #   rpc: https://rpc.mainnet.citrea.xyz
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 1672
  #   rpc: https://rpc.pharos.xyz
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 1000001
  #   rpc: https://rpc.webchain.e-talk.xyz
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 179170
  #   rpc: https://rpc-api.transparency.solutions
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 737373
  #   rpc: https://subnets.avax.network/cx/mainnet/rpc
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 1643
  #   rpc: https://rpc.xgr.network
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 432
  #   rpc: https://rpc.nutriemp-chain.link
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 2366
  #   rpc: https://rpc.gokite.ai
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 88888
  #   rpc: https://rpc.ankr.com/chiliz
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 2288
  #   rpc: https://rpc.mocachain.org
  #   start_block: 0
  #   contracts: *all-contracts

  
  # - id: 1783
  #   rpc: https://json-rpc.kiivalidator.com
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 4337
  #   rpc: https://build.onbeam.com/rpc
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 8453 # Base
  #   # rpc: https://base.llamarpc.com
  #   start_block: 0
  #   contracts: *all-contracts # Reuse anchor
  
  # - id: 42161 # Arbitrum
  #   rpc: https://arb1.arbitrum.io/rpc
  #   start_block: 0
  #   contracts: *all-contracts

  # - id: 56
  #   start_block: 0
  #   contracts: *all-contracts # Reuse anchor
  

